fastapi
uvicorn
pandas
scikit-learn
joblib
python-multipart       # file uploads ke liye (e.g., disease image)
sqlalchemy             # agar DB use kar rahe ho
pydantic               # request/response validation ke liye (FastAPI me built-in hota hai)
ollama                 # agar LLM se connect kar rahe ho
 # ya openai agar GPT use kar rah